.create-item{
    max-height: calc(100vh - var(--navbarHeight));
    max-width: calc(100vw - 280px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-x: hidden;
}

.create-item .content {
    flex-direction: column;
}

.page-contents{
    display:flex;
    flex-direction: column;
}
/* header */
.header{
    display:flex;
    max-width: calc(100vw - 280px);
    border-radius: 0px;
    padding: 1rem;
    color:black;
}

.header-title-wrapper {
    display:flex;
    margin-left: 1rem;
    align-items: center;
}

.header-title{
    font-weight: 600;
    font-size: 2rem;
    margin-right: 20px;
}
/* form containers */
.item-information {
    width: 100%;
    height: fit-content;

    display:flex;
    flex-direction: column;

    margin: 10px 0;
}

.form-container.text-area>.form-input-gray{
    height: 200px;
}

.additional-details {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.form-container-main {
    margin: 2rem 0;
}

.form-container-additional {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    
    align-items: center;
}

.container.button-container {
    margin-bottom: 100px;
}