.create-item{
    max-height: 100vh;
    max-width: 100vw;
    margin-left: 300px;
    display: flex;
}
.create-input-fields{
    display: grid;
    grid-template-rows: 1,1,1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page-contents{
    display:flex;
    flex-direction: column;
}
.header-1{
    width: 1040px;
    background: #BEBEBE;
    border-radius: 0px;

}
.header-2{
    width: 1040px;
    background: #BEBEBE;
    border-radius: 0px;

}
.heading{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #1E1E1E;
    
}
.item-id{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.item-name{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.quantity{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.order-date{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.arrival-date{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.item-price{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.standard-cost{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.labels{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.form-input{
    background: #D9D9D9;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #868686;
    border-style: none;
}
.category{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}
.supplier{
    margin-top: 9px;
    width: 306px;
    height: 74px;
    left: 348px;
    top: 160px;
}

.form-inputs{
    background: #D9D9D9;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #868686;
    width: 1022px;
    height: 150px;
    /* left: 348px; */
    /* top: 679px; */
    border-style: none;
    align-self: flex-start;

}
.submit-create-item {
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
    background: #2EAF79;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #F8F8F8;
    width: 170px;
    height: 38px;
    left: 611px;

}
.buttons{
    display:flex;
    justify-content: center;
    margin-left: 380px;
    flex-wrap: wrap;
    margin-right: 30px;
    gap: 25px;
}

.submit-update-item{
    margin-top: 10px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
    background: #3F5BE8;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    align-items: center;
    text-align: center;
    color: #F8F8F8;
    width: 170px;
    height: 38px;
    left: 611px;
}