.form-gray {
    width: 100%;
    height: fit-content;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    gap: 25px;
    color:black;
}

.form-gray .user-form-input {
    height: 70px;
}