.login-page {
    max-height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    display: flex;
}

.login-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}


/* Header */
.login-page .content .header {
    justify-content: center;
    align-items: center;
}

.login-page .content .header .header-img {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

/* .login-page .content .header .header-welcome {
} */

.login-page .content .header .header-instruction {
    color: #B6B6B6;
}


/* Login Form */
.login-page .content .login-form {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.login-page .content .login-form .login-email {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

.login-page .content .login-form .login-password {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

.login-page .content .login-form .login-input {
    height: 5vh;
    width: 20vw;
    border-radius: 7px;
    border: 1.5px #ACACAC solid;
    background-color: #D9D9D9;
    font-size: 18px;
    color: grey;
}

.login-page .content .login-form .input-label {
    text-align: start;
}

.login-page .content .login-form .login-button {
    background-color: #383F5E;
    color: white;
    height: 6vh;
    width: 15vw;
    margin: 25px auto;
    margin-top: 40px;
}


/* Footer */
.login-page .content .footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.login-page .content .footer a {
    margin: auto;
}