.settings {
    display:flex;
    flex-direction: column;
    max-width: calc(100vw - 280px);
    max-height: calc(100vh - var(--navbarHeight));
    margin: 0 auto;
    flex-grow:1;
}

.settings .content {
    max-width: var(--maxWidth);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.settings-divider {
    display:flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    font-size: 24px;

    max-width: calc(100vw - 280px);
    height: 75px;
    background-color: var(--darkBlueAccent);

    margin: var(--elementSpacing) 0;
    border-radius: 10px;

}