.table {
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - var(--sidebarWidth));
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table-header {
    display: flex;
    height: 45px;
    align-items: center;
    background-color: var(--tableElementBgColor);
}

.table-header-label {
    padding: 8px 8px;
}

.table-body {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: calc(100vw - 280px);
    flex-grow: 1;
    font-weight: 500;
    background-color: var(--tableElementBgColor);
}

.row-item {
    text-decoration: none;
    border-bottom: 1px #B7B7B7 solid;
    height: 45px;
    padding: 8px 8px;
}

.table-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--tableElementBgColor);
}

.column-label {
    background-color: var(--tableHeaderBgColor);
    height: 45px;
    border: 1px solid var(--tableHeaderBgColor);
    vertical-align: center;
    padding: 8px 8px;
}