.table {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: calc(100vw - 280px);
    overflow-y: scroll;
    flex-grow: 1;
    background-color: var(--tableHeaderBgColor);
    font-weight: 400;
}

.row-item {
    text-decoration: none;
    background-color: var(--tableElementBgColor);
    border-bottom: 1px #B7B7B7 solid;
    height: 45px;
    padding: 8px 8px;
}

.table-column {
    background-color: var(--tableElementBgColor);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column-label {
    height: 45px;
    border: 1px solid #B7B7B7;
    vertical-align: center;
    padding: 8px 8px;
}