.sidebar {
    width: var(--sidebarWidth);
    height: 100%;


    display: flex;
    position: fixed;
    overflow: hidden;
    
    flex-direction: column;
    text-align: center;

    font-size: 24px;

    background-color: var(--darkBlueAccent);
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.sidebar-empty {
    width: var(--sidebarWidth);
    height: 50vh;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

.sidebar-item {
    height: 70px;
    text-align: left;
    font-weight: lighter;
    letter-spacing: 0.3px;

    color: var(--white);

    border-radius: 10px;

    display:flex;
    align-items: center;
    justify-content: flex-start;

    margin: 0 30px;
    padding-left: 15px;
}

a.sidebar-item.active {
    background-color: var(--darkBlueAccentFocused);

}

.sidebar-item:hover {
    color: var(--white);
}