.hey{
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    color: #000000;

}
/* .hello{
    display:flex;
    justify-self: flex-start;
} */
.head{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    flex: 1;
    display:inline-block;
    /* justify-content: center; */
    gap:40px; 
    max-width: calc(100vw - 280px);
    max-height: calc(100vh - (var(--navbarHeight) + 350)); /* 100vh minus navbar height plus table height*/
}
.dashboard{
    max-height: calc(100vh - var(--navbarHeight));
    max-width: calc(100vw - 280px);
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}
.display{
        display: grid;
        grid-template-rows: 1,1;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 70px;
        margin-top:25px;
}

.invite-bttn{
    display:flex;
    position: absolute;
    right: 0;
  margin-right: 20px;
    /* position: absolute; */

} 
.announcement-form{
display:flex;
width: 600px;
/* max-width: calc(100vw-600px); */
height: 160px;
/* left: 343px; */
/* top: 360px; */
background: #D9D9D9;
border-radius: 10px;
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #868686;
border-style: none;
line-height: none;
}

.announcements{
    /* left: 348px;
    top: 160px; */
    max-width: calc(100vw - 600px);
    max-height: calc(100vh - (var(--navbarHeight) + 350)); /* 100vh minus navbar height plus table height*/
}

.check-items{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column; 
}
.checkbox{
    display:flex;
    flex-direction: row;
}
.textTodo{
    display:flex;
    flex-direction: row; 
    gap: 5px;
}
.checkmark{
    display: flex;
    flex-direction: row; 
    gap: 5px;
}
.extraEditing{
   display:flex;
   flex-direction: row; 
   gap: 10px;
   margin-left: 20px;
}

.title{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 10px;
}
.title2{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
}

.list-form{
    display:flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #868686;
    outline: 0;
    border:none;
    border-bottom:1px solid whitesmoke;
    background: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.listForm{
    display:flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #868686;
    outline: 0;
    width: 120px;
    border:none;
    border-bottom:1px solid whitesmoke;
    background: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img{
    float:left;
    height: 25px;
    width: 25px;
    margin-top:8px;
    margin-right: 10px;
    margin-left: 10px;
}
.logs{
    display:flex;
    margin-top:20px;
    background-color: #D9D9D9;
    height: 30px;
    max-width: calc(100vw - 280px);
    border-radius: 30px 30px 0px 0px;
    
}
.title2{
    width: 218.28px;
height: 35px;
left: 303.91px;
top: 675px;
margin-left: 10px;
margin-bottom: 10px;
}

.column-label{
background: #B7B7B7;
border-style: solid;
border-color: #CCCCCC;
}
.num1{
    width: 120px;
}
.num2{
    width: 791px;
}
.rows{
background: #D9D9D9;
border-width: 1.5px 0px;
border-style: solid;
border-color: #CCCCCC;
}
.submit-items{
    display: flex;
    /* margin-top: 2px;
    margin-bottom: 2px; */
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
    background: #B7B7B7;
    font-size: 20px;
    width: 2px;
    height: 35px;
    font-style:normal;
    justify-content: center;
    align-items: center;
    border-radius: 0px;

}
.more-items{
    display: flex;
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
    background: #B7B7B7;
    font-size: 14px;
    width: 70px;
    height: 40px;
    font-style:normal;
    justify-content: center;
    align-items: center;
    /* border-radius: 0px; */

}
