.dashboard {
  max-height: 100%;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

/******** HEADER ***********/
.dashboard-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: calc(100vw - 280px);
  justify-content: center;
  align-items: center;
  color: black;
}

.dashboard-header .greeting {
  display: flex;
  justify-content: flex-start;
  width: 37.5vw;
  padding: 5px;
}

.dashboard-header .invite {
  display: flex;
  justify-content: flex-end;
  width: 37.5vw;
  padding: 5px;
  position: relative;
}
.dashboard-header .invite::before,
.dashboard-header .invite::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: var(--darkBlueAccentFocused);
  position: absolute;
  left: 85%;
  top: 65%;
  transform: translate(-126%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 160ms transform;
  transform-origin:right;
}
.dashboard-header .invite::before{
  --translate-y: calc(-20% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background: var(--darkBlueAccentFocused);
  text-align: center;
  width: max-content;
  max-width: 100%;
  padding: .5rem;
  border-radius: .3rem;

}
.dashboard-header .invite:hover::before,
.dashboard-header .invite:hover::after{
  --scale: 1;
}

.dashboard-header .invite::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-left-color: var(--tooltip-color);
  transform-origin: right;
}

.dashboard-header .invite .invite-btn {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  background: #2eaf79;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #f8f8f8;
  width: 5vw;
}

/**************************/

/********* BODY ***********/
.dashboard-body {
  display: flex;
  flex-direction: row;
  flex: 2;
  max-width: calc(100vw - 280px);
  margin-bottom: 40px;
}

/********* ANNOUNCEMENT ***********/

.dashboard-body .announcements-container {
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: center;
}

.dashboard-body .announcements-container .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboard-body .announcements-container .content .header {
  display: flex;
  width: 80%;
}
.dashboard-body .announcements-container .content .header .help-icon {
  position: relative;
}
.dashboard-body .announcements-container .content .header .help-icon .question-icon {
  width: 40px;
  top:-12px;
  left:20px;
  position:relative;
}

.dashboard-body .announcements-container .content .header .help-icon::before,
.dashboard-body .announcements-container .content .header .help-icon::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: var(--darkBlueAccentFocused);
  position: absolute;
  left: 100%;
  top: 25%;
  transform: translate(15%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 160ms transform;
  transform-origin:right;
}
.dashboard-body .announcements-container .content .header .help-icon::before{
  --translate-y: calc(-35% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background: var(--darkBlueAccentFocused);
  text-align: center;
  width:200px;
  padding: .5rem;
  border-radius: .3rem;
  

}
.dashboard-body .announcements-container .content .header .help-icon:hover::before,
.dashboard-body .announcements-container .content .header .help-icon:hover::after{
  --scale: 1;
}

.dashboard-body .announcements-container .content .header .help-icon::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--tooltip-color);
  transform-origin: right;
}


.dashboard-body .announcements-container .content .header .title {
  font-weight: 500;
  margin-bottom: 10px;
}

.dashboard-body .announcements-container .content .body {
  background-color: #d9d9d9;
  height: 80%;
  width: 80%;
}

.dashboard-body .announcements-container .content .body .announcement-form {
  background-color: #d9d9d9;
  text-align: left;
  border: none;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 19px;
}

#announce {
  background-color: #d9d9d9;
  text-align: left;
  /* margin-left:20px; */
  border: none;
  height: 40%;
  width: 80%;
  padding: 20px;
  font-size: 19px;
}
.submit-post {
  background: rgb(15, 139, 231);
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  color: #f8f8f8;

}
#post {
  display: none;
}
#inputBody {
  display: none;
}
#edit {
  display: none;
}
.edit{
  margin-top: 10px;
}
.post{
  margin-top: 10px;
}
.post-2{
  margin-top: 10px;
}
.edit-post {
  background: rgb(15, 139, 231);
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  color: #f8f8f8;
}
.buttnz {
  display: flex;
  gap: 20px;
}

/****************************/

/******* CHECKLIST *********/

.dashboard-body .checklist-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.dashboard-body .checklist-container .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboard-body .checklist-container .content .header {
  display: flex;
  width: 70%;
}
.dashboard-body .checklist-container .content .header .help-con{
  position: relative;
}
.dashboard-body .checklist-container .content .header .help-con .question-icon{
  position: relative;
  width:40px;
  top:-12px;
  left:20px;

}
.dashboard-body .checklist-container .content .header .help-con::before,
.dashboard-body .checklist-container .content .header .help-con::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: var(--darkBlueAccentFocused);
  position: absolute;
  left: 100%;
  top: -20%;
  transform: translate(-40%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 160ms transform;
  transform-origin: bottom center;
}
.dashboard-body .checklist-container .content .header .help-con::before{
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background: var(--darkBlueAccentFocused);
  text-align: center;
  width: 240px;
  padding: .5rem;
  border-radius: .3rem;
  

}
.dashboard-body .checklist-container .content .header .help-con:hover::before,
.dashboard-body .checklist-container .content .header .help-con:hover::after{
  --scale: 1;
}

.dashboard-body .checklist-container .content .header .help-con::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.dashboard-body .checklist-container .content .header .title {
  font-weight: 500;
  margin-bottom: 10px;
}

.dashboard-body .checklist-container .content .body {
  background-color: #d9d9d9;
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

/****** CHECKLIST BODY *********/
.dashboard-body .checklist-container .content .body .check-items {
  padding: 15px;
}

.dashboard-body .checklist-container .content .body .checkmark {
  display: flex;
  flex-direction: row;
  /* margin: 10px; */
}

.dashboard-body .checklist-container .content .body .checkmark .textTodo .list-form {
   display: block; 
   height: 25px;
   width: 25px;

}
.dashboard-body .checklist-container .content .body .checkmark .textTodo .listForm {
  display: block; 
  width:30%;
  height:30%;

}

.dashboard-body .checklist-container .content .body .textTodo {
  display: flex;
  flex-direction: row;
}

.dashboard-body .checklist-container .content .body .textTodo .todo-text {
  margin: 0 10px;
}

.dashboard-body .checklist-container .content .body .extraEditing {
  width: 30%;

}

.dashboard-body .checklist-container .content .body .more-items {
  width: 50px;
  font-size: 12px;
  text-align: start;
  background-color: #737cad;
  color: #f0f4f7;

}
.dashboard-body .checklist-container .content .body .submit-items {
  width: 50px;
  font-size: 12px;
  background-color: #737cad;
  color: #f0f4f7;

}

/****************************/

/****** TABLE CONTAINER *****/
.dashboard .table-container {
  max-height: 375px;
  min-height: 375px;
  width: 100%;
  display: flex;
}

.dashboard .help{
  position: relative;
}
.dashboard .help .question-icon{
  width:40px;
}
.dashboard .help::before,
.dashboard .help::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: var(--darkBlueAccentFocused);
  position: absolute;
  left: 3%;
  top: 60%;
  transform: translate(7%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 160ms transform;
  transform-origin:right;
}
.dashboard .help::before{
  --translate-y: calc(-30% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background: var(--darkBlueAccentFocused);
  text-align: center;
  max-width: 30%;

  padding: .5rem;
  border-radius: .3rem;
  

}
.dashboard .help:hover::before,
.dashboard .help:hover::after{
  --scale: 1;
}

.dashboard .help::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--tooltip-color);
  transform-origin: right;
}
