.app {
    display:flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    /* flex-wrap: wrap; */
}

.page-content {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--navbarHeight));
    width: 100%;
}