@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

:root {
  --maxWidth: 1080px;
  --navbarHeight: 70px; 
  /* color variables */

  /* navbar, sidebar, topbar */
  --darkBlue: #303550;
  --darkBlueAccent: #24283C;
  --darkBlueAccentFocused: #383F5E;

  --black: #000000; 
  --blackAccent: #3f3f3f;

  --background: #f8f8f8;
  
  /* input */
  --backgroundInput: #d9d9d9;
  --backgroundInputFocused: #f8f8f8;
  --placeholderTextColor: #868686;
  
  /* table */
  --tableTitleBgColor: #D9D9D9;
  --tableHeaderBgColor: #BEBEBE;
  --tableElementBgColor: #D9D9D9;

  /* extended table */
  --memberTableBgColor: #F3F3F3;
  
  
  --white: #f8f8f8;
  --green: #4c5e35;
  --softGreen: #44676F;
  /* button colors */
  --actionRed: #8d3737;
  --actionBlue: #383F5E;
  --actionBlueAccent: #3F5BE8;
  --actionGreen: #2EAF79;
  
  --outlineGray: #CCCCCC;
  /* end of variables */

  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;

  font-family: 'Inter', sans-serif;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

.content {
  display:flex;
  
  max-width: 1080px;
  min-width: 320px;

  margin: 0 auto;
  text-align: center;

  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
