.performance-content {
    max-height: calc(100vh - var(--navbarHeight));
    max-width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow-x: hidden;
}

.performance-content .visual-data-container {
    display: flex;
    flex-direction: row;
    flex: 6;
    max-width: calc(100vw - 280px);
    max-height: calc(100vh - (var(--navbarHeight) + 350)); /* 100vh minus navbar height plus table height*/
    justify-content: center;
    align-items: center;
}

.performance-content .visual-data-container .bar-chart-container {
    width: 30vw;
}

.performance-content .visual-data-container .pie-chart-container {
    width: 15vw;
}

.performance-content .filter-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    max-width: var(--maxWidth);
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 15px;
}

.performance-content .table-container {
    display: flex;
    width: 100%;
    flex-grow: 2.5;
    min-height: 425px;
    max-height: 425px;
}

