.registration {
    margin: 0 auto;
}

.registration-page {
    max-height: 100vh;
    max-width: var(--maxWidth);
    justify-content: center;
    align-items: center;
    display: flex;
}

.registration-page .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Header */
.registration-page .content .header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.registration-page .content .header .header-img {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

/* .registration-page .content .header .header-welcome {
} */

.registration-page .content .header .header-instruction {
    color: #B6B6B6;
}


/* Login Form */
.registration-page .content .registration-form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-page .content .registration-form .registration-username {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}

.registration-page .content .registration-form .registration-first-name {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;

}

.registration-page .content .registration-form .registration-last-name {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;

}

.registration-page .content .registration-form .registration-email {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;

}

.registration-page .content .registration-form .registration-phone-number {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;
}

.registration-page .content .registration-form .registration-password {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;

}

.registration-page .content .registration-form .registration-confirm-password {
    display: inline-flex;
    flex-direction: column;
    margin: 10px 30px;

}

.registration-page .content .registration-form .registration-input {
    height: 5vh;
    width: 15vw;
    border-radius: 7px;
    border: 1.5px #ACACAC solid;
    background-color: #D9D9D9;
    font-size: 18px;
    color: grey;
}

.registration-page .content .registration-form .registration-username .registration-input {
    width: 33.375vw;
}

.registration-page .content .registration-form .input-label {
    text-align: start;
}

.registration-page .content .registration-form .registration-button {
    background-color: #383F5E;
    color: white;
    height: 6vh;
    width: 15vw;
    margin-top: 40px;
}


/* Footer */
.registration-page .content .footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.registration-page .content .footer a {
    margin: auto;
}