.landing-page {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    height: 100%;
    width: 100%;
    align-items: center;
}

/***** HERO ******/
.landing-page .hero {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    max-width: calc(100vw - 100px);
}

.landing-page .hero .hero-description {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: start;
    padding-top: 65px;
    gap: 25px;
}

.landing-page .hero .hero-message {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #6B6B6B;
}

.landing-page .hero .hero-description .hero-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}


.landing-page .hero .hero-image {
    width:50%;
}

.landing-page .hero .hero-image .yellowCar {
    width:100%;
    height:auto;
}

/****** BODY ********/
.landing-page .landing-page-body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    max-width: calc(100vw - 100px);
    margin: 40px auto;
}


.landing-page .product-reviews {
    font-size: 30px;
    font-style:normal;
    margin: 30px;
}

.landing-page .product-reviews .product-review-title {
    font-size: 25px;
    font-style:normal;
    font-weight:700;
}

.landing-page .product-reviews .product-review-body {
    display:flex;
    flex-grow: 1;
    flex-direction: row;
}

.landing-page .product-reviews .product-review-body .review-1 {
    display:flex;
    flex-grow: 1;
    height: 300px;
    background: #d4d4d4;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    color: #6B6B6B;
}
.landing-page .product-reviews .product-review-body .review-2 {
    display:flex;
    flex-grow: 1;
    height: 300px;
    background: #B3B3B3;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    color: #6B6B6B;
    
}


/**** CONTACT INFO *****/
.landing-page .contact-info {
    font-size: 30px;
    margin: 30px;
}

.landing-page .contact-info .contact-info-title {
    font-size: 25px;
    font-style:normal;
    font-weight:700;
}

.landing-page .contact-info .contact-info-body {
    display:flex;
    flex-grow: 1;
    flex-direction: row;
}

.landing-page .contact-info .contact-info-body .contact-info-1 {
    display:flex;
    flex-grow: 1;
    background: #d4d4d4;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    color: #6B6B6B;
}


/***** ABOUT US ******/

.about-us {
    display:flex;
    flex-direction: column;
    background-color:#B3B3B3;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 30px;
    padding: 30px;
}

.about-us .about-us-title {
    font-size: 25px;
    margin-bottom: 25px;
}

.about-us .about-description {
    font-weight: 300;
    font-size: 20px;
    line-height: 33px;
    padding-top: 20px;
    margin:20px;
    text-align: center;
}

.about-us .about-images {
    flex-direction: row;
    display:flex;
    flex-grow: 1;
    width: 100%;
    max-height:200px;
    gap:25px;
    justify-content: center;
}

.about-us .about-images .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/***** Footer *****/
footer {
    margin-top:50px;
    background-color: #303550;
    height: 125px;
    width: 100%;
    flex-direction:row;
    display:flex;
}

footer .footer-description {
    width:45%;
}

footer .footer-description .footer-message {
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 40px;
}

footer .socials {
    margin-top: 40px;
    width: 50%;
}

footer .socials .imgs {
    display: flex;
    float:right;
    gap: 25px;
}

.footers .socials .icons {
    margin-left:10px;
    margin-right:10px;
}