.role-list {
    width: 100%;
    position: relative;
}

.role-list::before,
.role-list::after {
  --scale: 0;
  --arrow-size: 15px;
  --tooltip-color: var(--darkBlueAccentFocused);
  position: absolute;
  left: 12%;
  top: 40%;
  transform: translate(-112%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 160ms transform;
  transform-origin:right;
  opacity:0.8;
}
.role-list::before{
  --translate-y: calc(-30% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  background: var(--darkBlueAccentFocused);
  text-align: center;
  width: max-content;
  max-width: 23%;
  padding: .5rem;
  border-radius: .3rem;
  opacity:0.8;

}
.role-list:hover::before,
.role-list:hover::after{
  --scale: 1;
}

.role-list::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  opacity:0.8;
  border-left-color: var(--tooltip-color);
  transform-origin: right;
}